@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  height: 100vh;
}

/* 滚动条样式优化 */
::-webkit-scrollbar-track-piece {
  background-color: rgba(51, 112, 255, 0.04);
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 6px;
  background-color: rgba(125, 125, 125, 0.3);
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 6px;
  background-color: rgba(125, 125, 125, 0.3);
  -webkit-border-radius: 5px;
}